---
import Layout from "../layouts/Layout.astro";
import OurTeam from "../components/AboutUs/OurTeam.astro";

import summary from "../data/summary";

const contact = summary.contact;
const social = summary.social;
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <!-- Our Mission -->
    <h2>Our Mission</h2>
    <p>
      Empowering individuals and communities through [your organization's focus
      or industry] by delivering innovative solutions, fostering collaboration,
      and promoting sustainable growth. Our mission is to [specific goal or
      objective], creating a positive impact on [relevant stakeholders] and
      contributing to a brighter, more connected future.
    </p>

    <!-- Our Story -->
    <h2>Our Story</h2>
    <p>
      Welcome to [Your Organization Name], where our story is a testament to
      purpose and perseverance. From our humble beginnings guided by [core
      values or mission], we've grown into a dynamic force in [industry or
      purpose]. Our journey is marked by innovation, dedication, and a
      relentless pursuit of [specific goals or ideals]. At [Your Organization
      Name], each chapter of our story is defined by the people, the passion,
      and the progress we make. Join us as we continue to evolve, leaving an
      indelible mark on [industry or purpose]. This is not just our story; it's
      an open invitation for you to be part of the narrative at [Your
      Organization Name].
    </p>

    <!-- Our Team -->
    <h2>Our Team</h2>
    <OurTeam cardSize={{ width: "200px", height: "300px" }} />

    <!-- Endorsements -->
    <h2>Endorsements</h2>
    <h3>A high profile client</h3>
    <p class="endorsement-text">
      Wholeheartedly recommending [Your Organization Name]! Their expertise in
      [industry or purpose] is evident in every interaction. From innovative
      solutions to unwavering commitment to [core values or mission], [Your
      Organization Name] stands out. A top choice for excellence and
      personalized service in [industry].
    </p>

    <!-- Contact Info -->
    <h2>Contact Us</h2>
    {
      contact && (
        <div>
          {contact.email && (
            <div class="contact_wrapper">
              <>
                <strong>Email:</strong>
                <div>{contact.email}</div>
              </>
            </div>
          )}
          {contact.phone && (
            <div class="contact_wrapper">
              <>
                <strong>Phone:</strong>
                <div>{contact.phone}</div>
              </>
            </div>
          )}
        </div>
      )
    }

    <!-- Social Media -->
    {
      social && (
        <div>
          <h2>Social Media</h2>
          {social.twitter && (
            <div class="contact_wrapper">
              <strong>Twitter:</strong>
              <a href={social.twitter.url}>{social.twitter.url}</a>
            </div>
          )}
          {social.facebook && (
            <div class="contact_wrapper">
              <strong>Facebook:</strong>
              <a href={social.facebook.url}>{social.facebook.url}</a>
            </div>
          )}
          {social.youtube && (
            <div class="contact_wrapper">
              <strong>Youtube:</strong>
              <a href={social.youtube.url}>{social.youtube.url}</a>
            </div>
          )}
          {social.linkedin && (
            <div class="contact_wrapper">
              <strong>Youtube:</strong>
              <a href={social.linkedin.url}>{social.linkedin.url}</a>
            </div>
          )}
        </div>
      )
    }
  </div>
</Layout>

<style>
  .endorsement-text {
    font-style: italic;
  }

  .contact_wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
    justify-content: start;
  }

  /* This just makes it so they look lined up, more like a grid. */
  .contact_wrapper > strong {
    min-width: 10ch;
  }
</style>
