---
import style from "./Header.module.css";
import DesktopNav from "./DesktopNav/DesktopNav.astro";
import MobileNav from "./MobileNav/MobileNav.astro";
import Button from "../Button.astro";

import { getCollection } from "astro:content";
const content = await getCollection("services");

interface Props {
  siteName: string;
  showSiteName?: boolean;
  logo?: string | undefined;
}

const { siteName, logo, showSiteName = true } = Astro.props;

type menuOptionsType = {
  title: string;
  path: string;
  badge?: true;
  children?: menuOptionsType[];
};

const menuOptions: menuOptionsType[] = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "Blog",
    path: `/blog/page-1`,
  },
  {
    title: "Services",
    path: "/",
    children: content.map((entry) => {
      return {
        title: entry.data.title,
        path: `/services/${entry.data.title.toLowerCase()}`,
      };
    }),
  },
  {
    title: "About",
    path: "/",
    children: [
      {
        title: "About Us",
        path: "/about-us",
      },
      {
        title: "Contact Us",
        path: "/contact-us",
      },
    ],
  },
];
---

<header class={style.container}>
  <a class={style.letterhead} href="/">
    {
      logo != undefined && (
        <>
          <img src={logo} alt="" />
          {showSiteName && <div>{siteName}</div>}
        </>
      )
    }
    {logo == undefined && <div>{siteName}</div>}
  </a>
  <DesktopNav menuOptions={menuOptions} />
  <div class="mobile-hidden">
    <Button colour="accent" hideBorder>
      <a href="tel:15878963349" class="mobile-hidden contact">1.587.896.3349</a>
    </Button>
  </div>
  <MobileNav menuOptions={menuOptions} />
</header>

<style>
  .contact {
    color: white;
    text-decoration: none;
  }

  svg {
    width: 48px;
    height: auto;
  }

  @media only screen and (min-width: 1024px) {
    header {
      height: var(--header-height);
    }
  }
</style>
