---
import style from "./Header.module.css";
import DesktopNav from "./DesktopNav.astro";
import ContactButton from "./ContactButton.astro";
import MobileNav from "./MobileNav.astro";

interface Props {
	siteName: string;
	showSiteName?: boolean;
	logo?: string | undefined;
}

const { siteName, logo, showSiteName = true } = Astro.props;

type menuOptionsType = {
	title: string;
	path: string;
	badge?: true;
	children?: menuOptionsType[];
};

const menuOptions: menuOptionsType[] = [
	{
		title: "Home",
		path: "/",
	},
	{
		title: "Services",
		path: "/",
		children: [
			{
				title: "Design",
				path: "/",
			},
			{
				title: "Customer Service",
				path: "/",
			},
		],
	},
	{
		title: "About us",
		path: "/about",
	},
	{
		title: "Contact us",
		path: "/contact",
	},
];
---

<header class={style.container}>
	<div class={style.letterhead}>
		{
			logo != undefined && (
				<>
					<img
						src={logo}
						alt=''
					/>
					<div>{siteName}</div>
				</>
			)
		}
		{logo == undefined && <div>{siteName}</div>}
	</div>
	<DesktopNav menuOptions={menuOptions} />
	<ContactButton />
	<MobileNav menuOptions={menuOptions} />
</header>
