---
import "@fontsource/poppins";
import "@fontsource/pt-sans";
import "../styles/reset.css";
import "../styles/colors.css";
import "../styles/main.css";
import "../styles/utilities.css";
import "../styles/theme.css";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import { string } from "astro/zod";
interface Props {
	title: string;
	logo?: string;
}

interface summaryTypes {
	siteName: string;
	logoURL?: string;
}
// SITE SETTINGS --------------------//
const summary = {
	siteName: "Tamarack Productions",
	logoURL: "/favicon.svg",
};
// ----------------------------------//

const { title, logo } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='Astro description'
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{title}</title>
	</head>

	<body
		id='page-body'
		class='no-js'
	>
		<Header
			siteName={summary.siteName}
			logo={summary.logoURL ? summary.logoURL : undefined}
			showSiteName={true}
		/>

		<!-- Content -->
		<div class='content'>
			<main>
				<slot />
			</main>
		</div>

		<Footer
			siteName={summary.siteName}
			logo={summary.logoURL ? summary.logoURL : undefined}
			showSiteName={true}
		/>
	</body>
</html>

<script>
	import dark_mode from "../utilities/check_dark_mode";

	// If JS enabled, remove 'no-js' class
	const page_body = document.getElementById("page-body");
	if (page_body) page_body.className = "";

	const userPreference = dark_mode.checkUserPreference();
	dark_mode.updateColourTheme(userPreference);
	dark_mode.onUserChange();
</script>

<style></style>
